.on {
    background-color: gray;
}

.off {
    background-color: light-gray;
}

* {
    margin: 0;
    padding: 5px;
}
  
#box {
    height: 250px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}
button {
    margin: 10px;
    color: #b01b1f;
    background-color: white;
    border-radius: 5px;
    border-color: #b01b1f;

}
.emailInput[type=text] {
    border: 2px solid #b01b2041;
  }